{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "Image" -}}
{{- $width := .Get "width" | default "150px" -}}
{{- $gap := .Get "gap" | default "50px" -}}
{{- $id := .Get "id" | default (printf "modal-%s" (md5 $src)) -}}
{{- $content := .Inner -}}

<style>
#{{ $id }} {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}
#{{ $id }} .modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}
#{{ $id }} .close-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
#{{ $id }} .close-modal:hover {
  color: #bbb;
}
</style>

<div style="display: flex; gap: {{ $gap }}; align-items: flex-start;">
  <div style="flex: 0 0 {{ $width }};">
    <img src="{{ $src }}" alt="{{ $alt }}" style="width: {{ $width }}; height: auto; cursor: pointer;" title="Click to view full size" onclick="document.getElementById('{{ $id }}').style.display='block'">
  </div>
  <div style="flex: 1;">
    {{ $content | markdownify }}
  </div>
</div>

<div id="{{ $id }}" onclick="this.style.display='none'">
  <span class="close-modal">&times;</span>
  <img class="modal-content" src="{{ $src }}" alt="{{ $alt }}">
</div>
